@font-face {
  font-family: IBM Plex Mono;
  src: url(./fonts/IBMPlexMono-Medium.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --Color-Text: #121723;
}

body {
  margin: 0;
}


/* Header */

.Header {
  height: 110px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #A1A6B4;
}

.Header__ContentContainer {
  width: 1161px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.Header__Img {
  width: 212.34px;
  height: 63.42px;
  margin: 30px 0px 16.58px 0px;
}
.Header__LinksText {
  font-family: 'Anonymous Pro', monospace;
  color: black;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Header__Links {
  width: max-content;
  margin: 50px 43px 40px 0px;
}

.Header__ListItem {
  display: inline-block;
  list-style-type: none
}

.Header__List {
  display: flex;
  gap: 25px;
}
/* Main */
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1F1F1;
}

.Main__CollectionText {
  font-family: "IBM Plex Mono", monospace;
  color: var(--black, #121723);
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 48px;
  width: fit-content;
  margin: 25px 450px 24px 0px;
}

.Main_RowSort {
  display: flex;
  width: 1170px;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}

.Main__ContentHolder {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
}

/* Footer */
.Footer {
  height: 142px;
  display: flex;
  justify-content: center;
  background-color: #121723;
  padding: 0px;
  box-sizing: border-box;
  margin-top: auto;
}

.Footer__ContentContainer {
  width: 1161px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.Footer_NavigationBar {
  width: 1161px;
  display: flex;
  justify-content: space-between;
  margin: 32px 0px;
}

.Footer__Img {
  width: 299.653px;
  height: 22.32px;
}
.Footer__LinksText {
  font-family: 'Anonymous Pro', monospace;
  color: #FFF;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Footer__Links {
  width: max-content;
}

.Footer__ListItem {
  color: #FFF;
  display: inline-block;
  list-style-type: none
}

.Footer__List {
  display: flex;
  gap: 25px;
}

.Coopyright {
  font-family: 'Anonymous Pro', monospace;
  color: #A1A6B4;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ContainerCoopyright {
  height: 16px;
  margin: 20px 21px;
}


.Page {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  flex-wrap: wrap;
  background-color: #F1F1F1; 
}

/* Card */

.Card {
  display: flex;
  flex-direction: column;
}

.CardImg {
  width: 371px;
  height: 254px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}

.CardBody {
  background-color: white;
  display: flex;
  width: 371px;
  padding: 32px 24px;
  border-radius: 0px 0px 12px 12px;
}

.CardTextBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CardName {
  font-family: 'Anonymous Pro', monospace;
  color: var(--Color-Text);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.CardDescription {
  color: var(--Color-Text);
  font-family: 'Anonymous Pro', monospace;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}